.go2top {
    position: fixed;
    right: 10px;
    bottom: 100px;
    z-index: 1000;
    display: block;
}

.toTop {
    width: 50px;
    height: 50px;
    margin: 0 auto;
    border-radius: 50px;
    background: #999;
    cursor: pointer;
}

.toTopSvg {
    width: 32px;
    height: 32px;
    margin: 9px;
}

.toTop:hover {
    background: #DBDBDB
}

.toTop:hover .tt {
    fill: #000
}

.nav-two {
    position: absolute;
    z-index: 20;
}

.goods-content {
    padding: 0;
    margin: 0;
}

.list-border {
    padding: 3% 0 3% 0;
    margin: 0;
    background-color: #fff;
    box-shadow: 2px 2px 10px #909090;
}

.goods-title {
    margin-top: 1%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 11px;
}